.sectors-list {
  display: flex;
  flex-direction: column;
  overflow-x: none;
}

.sectors-list img {
  width: 100%;
}

.items {
  flex: 0 0 auto;
  max-width: 100%;
  margin: 0 0px;
}

@media (min-width: 800px) {
  .sectors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .items {
    flex: 0 0 auto;
    max-width: 20%;
    margin: 0 20px;
  }
}
