.smoothTransition {
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
}

.zoomIn:hover {
  transform: scale(1.025);
}

.messageTextarea {
  display: block;
  height: 200px;
  border-radius: 20px;
}

.round8 {
  border-radius: 8px;
}

.wInherit {
  width: inherit;
}
