.quoteL,
.quoteR {
  position: absolute;
  width: 50px;
  height: auto;
}

.quoteL {
  top: -20px;
  left: 0px;
}

.quoteR {
  top: 20px;
  left: calc(100% - 50px);
  transform: rotate(180deg);
}

@media (min-width: 450px) {
  .quoteL {
    top: -20px;
    left: calc(20% - 20px);
  }

  .quoteR {
    top: 0px;
    left: calc(80% - 20px);
    transform: rotate(180deg);
  }
}

@media (min-width: 820px) {
  .hoverEffect::after {
    content: '';
    display: block;
    transition: width 0.5s ease-out;
    background-color: white;
    width: 0%;
    height: 2px;
  }

  .hoverEffect:hover::after {
    width: 100%;
  }

  .quoteL,
  .quoteR {
    width: 100px;
    height: auto;
    z-index: 1;
  }
  .quoteL {
    top: -40px;
    left: calc(15% - 50px);
  }

  .quoteR {
    top: 10px;
    left: calc(85% - 30px);
    transform: rotate(180deg);
  }
}

@media (min-width: 1200px) {
  .quoteL {
    top: -40px;
    left: calc(15% + 20px);
  }

  .quoteR {
    top: 10px;
    left: calc(80% - 30px);
    transform: rotate(180deg);
  }
}

@media (min-width: 1400px) {
  .quoteL {
    top: -40px;
    left: calc(20% + 20px);
  }

  .quoteR {
    top: 10px;
    left: calc(75% - 30px);
    transform: rotate(180deg);
  }
}
