.homeImg {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 420px;
}

.cardVisible {
  animation: onVisible 1s;
}
.cardVisibleReverse {
  animation: onVisibleReverse 1s;
}
@keyframes onVisible {
  0% {
    opacity: 20%;
    margin-left: 3em;
    margin-right: -3em;
  }
  100% {
    opacity: 100%;
    margin-left: 0em;
    margin-right: 0em;
  }
}
@keyframes onVisibleReverse {
  0% {
    opacity: 20%;
    margin-left: -3em;
    margin-right: 3em;
  }
  100% {
    opacity: 100%;
    margin-left: 0em;
    margin-right: 0em;
  }
}

@media screen and (max-width: 1200px) {
  .homeImg {
    width: 400px;
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .homeImg {
    width: 350px;
    height: 300px;
  }
}

@media screen and (max-width: 820px) {
  .homeImg {
    width: 300px;
    height: 260px;
  }
  .cardVisible,
  .cardVisibleReverse {
    animation: none;
  }
}

@media screen and (max-width: 640px) {
  .homeImgMobile {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
  }
  .cardVisible,
  .cardVisibleReverse {
    animation: none;
  }
}

.imgShadow {
  -webkit-box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
}
