.animate-spin {
    animation: spin 400ms linear infinite!important;
    animation-duration: 400ms !important;
    animation-timing-function: linear !important;
    animation-delay: 0s !important;
    animation-iteration-count: infinite !important;
    animation-direction: normal !important;
    animation-fill-mode: none !important;
    animation-play-state: running !important;
    animation-name: spin !important;
}

.spinner {
    margin-right: .25rem;
    margin-bottom: -.1rem;
}

.w-07 {
    width: .7rem;
}

.h-07 {
    height: .7rem;
}

.invisible {
    visibility: hidden;
}