.blogImage {
  width: 280px;
  height: 250px;
  -webkit-box-shadow: -2px 3px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 3px 21px -8px rgba(0, 0, 0, 0.75);
}
