ul {
  list-style: none;
}

.job-list li::before {
  content: '\2022';
  color: #ff7f40;
  margin-left: -1em;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.job-desc br {
  margin-bottom: 20px;
  display: block;
  content: ' ';
}
