.logoPVAC {
  width: 120px;
  height: 72px;
}

.logoMich {
  width: 150px;
  height: 80px;
}

.logoPSF {
  width: 120px;
  height: 100px;
}

.logoSormea {
  width: 150px;
  height: 80px;
}

.reverseText {
  direction: rtl;
}
