.smooth-transition {
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
}

.zoom-in:hover {
  transform: scale(1.025);
}

.text-underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.034);
}

.separator {
  border-bottom: 1px solid grey;
  opacity: 0.5;
}

.loading {
  display: block;
  width: 13px;
  height: 13px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

input,
textarea {
  outline: none;
}

.message-textarea {
  display: block;
  height: 200px;
  border-radius: 20px;
}

.offer-icon {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  align-items: center;
  line-height: 1;
}

.rotate45 {
  animation: rotate45 1s ease-in-out;
  -webkit-animation: rotate45 1s ease-in-out;
  animation-fill-mode: both;
}

.rotate0-45 {
  animation: rotate0-45 1s ease-in-out;
  -webkit-animation: rotate0-45 1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes rotate45 {
  to {
    -webkit-transform: rotate(45deg);
  }
}
@-webkit-keyframes rotate45 {
  to {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes rotate0-45 {
  from {
    -webkit-transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-webkit-keyframes rotate0-45 {
  from {
    -webkit-transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}

.round8 {
  border-radius: 8px;
}

.object-cover {
  object-fit: cover;
}