.home-img {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 420px;
}

@media screen and (max-width: 1200px) {
  .home-img {
    width: 400px;
    height: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .home-img {
    width: 350px;
    height: 300px;
  }
}

@media screen and (max-width: 820px) {
  .home-img {
    width: 300px;
    height: 260px;
  }
}

@media screen and (max-width: 640px) {
  .home-img-mobile {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
  }
}

.img-shadow {
  -webkit-box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
}
