/* purgecss start ignore */

.home-offers-left,
.home-offers-right {
  width: 100%;
}
.home-offers-left ul,
.home-offers-right ul {
  list-style: none;
  padding: 0;
}

.offer-arrow {
  transform: rotate(90deg);
  fill: orange;
  stroke: orange;
  transition: transform 0.5s;
}

.offer-selected-arrow {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

@media (min-width: 820px) {
  .home-offers-left,
  .home-offers-right {
    width: 50%;
  }
}

.background-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.offer-flyout-open {
  max-height: 650px;
}

.offer-flyout-close {
  max-height: 0;
}

.offer-flyout {
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 820px) {
  .offer-header {
    overflow: hidden;
    transition: border-radius 0.5s;
  }

  .offer-header-open {
    border-radius: 48px 8px 0 0;
  }

  .offer-header-close {
    border-radius: 48px 8px 8px 48px;
  }
}
/* purgecss end ignore */
