/* purgecss start ignore */

.home-offers-left,
.home-offers-right {
  width: 100%;
}
.home-offers-left ul,
.home-offers-right ul {
  list-style: none;
  padding: 0;
}

.offer-arrow {
  transform: rotate(90deg);
  fill: orange;
  stroke: orange;
  transition: transform 1s;
}

.offer-selected-arrow {
  transform: rotate(-90deg);
}

@media (min-width: 820px) {
  .home-offers-left,
  .home-offers-right {
    width: 50%;
  }
}

.background-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* purgecss end ignore */
