.convictions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conviction-item {
  width: 100%;
  text-align: left;
  justify-content: space-between;
  margin: 20px 0;
}

.conviction-item img {
  max-width: 70px;
  max-height: 70px;
}

@media (min-width: 692px) {
}

@media (min-width: 800px) {
  .convictions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .conviction-item {
    width: 50%;
  }

  .conviction-item img {
    max-width: 113px;
    max-height: 113px;
    margin: 0;
  }
}
