.home-img {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 250px;
}

.img-shadow {
  -webkit-box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 12px 53px -19px rgba(0, 0, 0, 0.5);
}
