@media (min-width: 820px) {
  .md\:round8 {
    border-radius: 8px;
  }

  .md\:round8-image {
    border-radius: 8px 0 0 8px;
  }

  .md\:cursor-default {
    cursor: default;
  }
}

.sector-flyout-open {
  max-height: 200px;
}

.sector-flyout-close {
  max-height: 0;
}

.sector-flyout {
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 0 0 8px 8px;
}

@media (max-width: 820px) {
  .sector-header {
    overflow: hidden;
    transition: border-radius 0.5s;
  }

  .sector-header-open {
    border-radius: 40px 8px 0 40px;
  }

  .sector-header-close {
    border-radius: 40px 8px 8px 40px;
  }
}

.offer-arrow {
  transform: rotate(90deg);
  fill: orange;
  stroke: orange;
  transition: transform 0.5s;
}

.offer-selected-arrow {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}
