.sectors-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.sectors-list img {
  width: 100%;
  max-height: 350px;
}

.items {
  flex: 0 0 auto;
  max-width: 100%;
  margin: 0 20px;
}

.items:first-child {
  margin-left: 0;
}

.home-sectors-description {
  position: relative;
  z-index: 999;
  margin: -50px 30px 0px 30px;
}

@media (min-width: 640px) {
  .items {
    flex: 0 0 auto;
    max-width: 50%;
    margin: 0 25px;
  }
}

@media (min-width: 800px) {
  .sectors-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .sectors-list img {
    max-height: 220px;
  }

  .home-sectors-description {
    position: relative;
    z-index: 999;
    margin: 0;
  }

  .items {
    flex: 0 0 auto;
    max-width: 20%;
    margin: 0 25px;
  }

  .items:first-child {
    margin-left: 0;
  }

  .sectors-list::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  .sectors-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  .sectors-list::-webkit-scrollbar-track {
    border: 5px solid #f5f6f7;
    background-color: rgb(114, 114, 114);
  }
}
