.top,
.bottom {
  height: 50%;
}

.bottom {
  overflow-y: auto;
  padding-right: 5px;
}

.bottom::-webkit-scrollbar {
  width: 2px;
  margin-left: 5px;
  padding-bottom: 5px;
}

.bottom::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bottom::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@media screen and (max-width: 640px) {
  .bottom {
    overflow-y: auto;
  }
}
